@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
div {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    background-color: #e5ebea;
    color: #333;
    font-family: 'Lato', sans-serif;
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #aec1be;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #506864;
}
